.modal-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.65);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:999;

}

.run-modal{

    width:700px;

    max-width:90%;

    background:#111827;

    border-radius:20px;

    padding:30px;

    color:white;

    position:relative;

}

.close-btn{

    position:absolute;

    right:20px;

    top:20px;

    background:none;

    border:none;

    color:white;

    cursor:pointer;

}

.section{

    margin-top:25px;

}

.box{

    background:#1F2937;

    padding:15px;

    border-radius:12px;

    margin-top:10px;

    white-space:pre-wrap;

}

.run-info{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:15px;

    margin-top:20px;

}