*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{

    font-family:Inter,sans-serif;

    background:#0B1220;

}

.app{

    display:flex;

    height:100vh;

}

.main{

    flex:1;

    display:flex;

    flex-direction:column;

    overflow:hidden;

}